In [1]:
%load_ext autoreload
%autoreload 2
from app.div7a import *
div7a_from_json({'creation_income_year': '1998', 'term': '1', 'computation_income_year': '1999', 'opening_balance': -1, 'principal_amount': '298', "repayments": [
	{"date": "1999-01-01", "value": "40"},
	{"date": "1999-05-01", "value": "40"}], 'lodgement_date': '1999-06-04'
				 })

evaluate_myr_checks

{'income_year': 1999,
 'opening_balance': 298.0,
 'interest_rate': 6.7,
 'min_yearly_repayment': 232.60600000000008,
 'total_repayment': 80.0,
 'repayment_shortfall': 152.60600000000008,
 'total_interest': 18.189123287671237,
 'total_principal': 61.81087671232876,
 'closing_balance': 236.18912328767124}